
@{
    ViewBag.Title = "RegisterSuccess";
}

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <div>
        <p>
            Registration successful. Please confirm your email by clicking the link sent to you. 
        </p>
    </div>
</main>
